
/* Rules for All Elements */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Global Settings */
.no-button {
    display:inline-block;
    margin-bottom:13px;
}

.blue-button {
    background-color:#47ADF1;
    color:white;
}

.purple-button {
    background-color:#9C72E4;
    color:white;
}

.green-button {
    background-color:#64BFA8;
    color:white;
}

.light-green-button {
    background-color:#B0C926;
    color:white;
}

.yellow-button {
    background-color:#F29E33;
    color:white;
}

.transparent-button {
    border:1px solid #CACFD4;
    color:#CACFD4;
}

.checkmark{
    color:#65C1AA;
    border:2px solid #65C1AA;
    font-weight:800;
}

.crossmark{
    color:#DC716E;
    border:2px solid #DC716E;
    font-weight:800;
}

/* Header */
header{
    padding:10px;
}

header img, header h1{
    vertical-align: middle;
}

header h1{
    margin-bottom:7px;
    display:inline-block;
    font-size:3.0em;
}

/* Main / Containers */
main .main-container{
    background-color: #F6F8F9;
    width:100%;
    padding:50px;
}

/* Nav */
nav, .task-container{
    margin:auto;
    width:80%;
    background-color: white;
    margin-bottom:3px;
}

nav {
    padding:20px 50px 10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.nav-button {
    display:inline-block;
    padding:10px 18px 10px 18px;
    height:42px;
    border-radius: 10px;
    text-align:center;
    vertical-align:middle;
}

/* Tasks Containers */
.task-container .arrow{
    font-size:0.7em;
}

.task-container{
    padding:30px 50px 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.task-title {
    padding:15px;
}

.task-title > div {
    margin-bottom:20px;
}

.task-title .icon {
    display:inline-block;
    width:25px;
    height:25px;
    border-radius:50%;
    text-align:center;
    margin-right:5px;

}

.task-title .object{
    font-size:1.3em;
}

.task-title .task-button {
    display:inline-block;
    border-radius:15px;
    margin-left:5px;
    padding:9px 15px 9px 15px;
}



