
/* Reset to Zero */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* Global Settings */
.blue-button {
    background-color:#47ADF1;
    color:white;
    font-weight:800;
}

.purple-button {
    background-color:#9C72E4;
    color:white;
    font-weight:800;
}

.green-button {
    background-color:#64BFA8;
    color:white;
    font-weight:800;
}

.yellow-button {
    background-color:#F29E33;
    color:white;
    font-weight:800;
}

.transparent-button {
    width:110px;
    border:1px solid #CACFD4;
    color:#CACFD4;
}

.checkmark{
    color:#65C1AA;
    border:2px solid #65C1AA;
    font-weight:800;
}

.crossmark{
    color:#DC716E;
    border:2px solid #DC716E;
    font-weight:800;
}

/* Header */
header{
    padding:10px;
}

header img, header h1{
    vertical-align: middle;

}

header h1{
    display:inline-block;
    font-size:3.0em;
}

/* Main / Containers */
main .main-container{
    background-color: #F6F8F9;
    width:100%;
    padding:50px;
}

    /* Nav */
    nav, .task-container{
        margin:auto;
        width:70%;
        background-color: white;
        margin-bottom:3px;
    }

    nav {
        padding:20px 50px 10px;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }

    .nav-button {
        display:inline-block;
        width:100px;
        height:42px;
        border-radius: 10px;
        text-align:center;
        padding-top:12px;
    }

    /* Task Container */

    .task-container .arrow{
        font-size:0.7em;
    }

    .task-container{
        padding:30px 50px 10px;
    }

    .task-title {
        padding:15px;
    }

    .task-title div {
        margin-bottom:10px;
    }

    .task-title .icon {
        display:inline-block;
        width:25px;
        height:25px;
        border-radius:50%;
        text-align:center;
        margin-right:5px;

    }

    .task-title .object{
        font-size:1.3em;
    }

    .task-title .task-button {
        display:inline-block;
        border-radius:15px;
        margin-left:5px;
        padding:9px 15px 9px 15px;
    }



